<header class="app-header">
  <div class="header-inner">
    <div class="header-logo">경북 지능공간정보 플랫폼</div>
    <nav class="header-nav">
      <a href="/" class="nav-item" data-page="ui-guide">UI 가이드</a>
      <a href="/pages/search.html" class="nav-item" data-page="search">검색</a>
      <a href="/pages/indoor.html" class="nav-item" data-page="indoor">실내지도</a>
      <a href="/pages/land.html" class="nav-item" data-page="land">토지(임야) 검색</a>
      <a href="/pages/dataprovide.html" class="nav-item" data-page="dataprovide">자료제공</a>
      <a href="/pages/layers3d.html" class="nav-item" data-page="layers3d">3차원 가시화</a>
      <a href="/pages/mydata.html" class="nav-item" data-page="mydata">마이데이터</a>
    </nav>
  </div>
</header>
